html,
body {
    margin: 0;
    font-family: 'DejaVu Serif';
}

h5{
    margin:0;
}

.main-container .home h1{
    font-size:50px;
    color: #b5b4b5;
    text-shadow: 1.9px 1.9px #000000;
    text-align:center;
}

.main-container .home h2{
    font-size:20px;
    color:#000000;
    text-shadow:0px 0px white;
    text-align:center;
}

.header .container .nav-bar a {
    text-decoration:none;
    list-style-type:none;
    color: white;
    font-weight: 600;
    border:1px solid #1D2122;
    padding:12px 5px;
    border-radius:4px;
    text-shadow:1px 1px #000000;
}

.header .container .nav-bar a:hover{
    background-color: #FFC244;
    border:1px solid black;
    text-shadow:0px 0px white;
    color:black;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    border:1px solid #000000;
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #1D2122;

}

.header .nav-bar ul li {
    display: inline;
    list-style-type: none;
    padding: 0px;
}

.header .container .nav-bar,
.header .container .name {
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-weight:600;
    text-shadow:1px 1px black;
}

.header .container .name {
    border: 1px solid black;
    box-shadow:0px 0px 1px 1px black;
    padding:10px;
}

.main-container .home {
    display:flex;
    background: url('./asserts/img/home.jpeg') repeat-y;
    justify-content: center;
    padding-top: 250px;
    background-size: 100% 100%;
    height:560px;
    width:auto;
}

.main-container .home a{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.main-container .home>img{
    position: absolute;
    width: 100%;
    height:100%;
    background-size:cover;
    z-index:-1;
}

.main-container .home h1,
.main-container .home h2{
    margin:0;
}

.main-container .home ul {
    display:flex;
    justify-content: center;
}

.main-container .home ul li{
    background-color: #b5b4b5;
    box-shadow:1px 1px #000000;
    padding:10px 30px;
    border: 1px solid #000000;
    margin:10px;
    border-radius:5px;
    font-weight:600;
    text-shadow: 0px 0px #000000;
    list-style-type:none;
    text-decoration: none;
}

.main-container .home ul li:hover {
    background-color: white;
}

.about-container .home {
    background: url("./asserts/img/office.jpg")repeat-y;
    height:600px;
    background-size: 100% 100%;
}

.about-container .home h1{
    font-size:30px;
    color: #b5b4b5;
    text-align:left;
    text-shadow:2px 2px #000000;
    padding-top:0px;
    font-weight: 600;
}

.about-container .home .outer {
    width: 500px;
    height: 400px;
    line-height: 200px;
    text-align: center;
    font-size: 0;
    padding-top:50px;
    padding-left:100px;
}

.about-container .home .inner {
    line-height: 20px;
    vertical-align: middle;
    font-size: medium;
}

.about-container .home .dline {
    line-height: 2.0;
}

.about-container .home p {
    line-height: 0.5em;
    margin:0;
    text-align:left;
    font-size:18px;
    font-weight: 600;
    color:lightgrey;
    text-shadow:2px 2px black;
}

.about-container .home img{
    border-radius:50%;
    margin-left:750px;
    margin-top:-350px;
    width:350px;
    height:350px;
}

.portfolio-container .home {
    background: url("./asserts/img/background.jpg")repeat-y;
    height:666px;
    width:auto;
    background-size: 100% 100%;
}

.portfolio-container .home h1{
    font-size:40px;
    color:#b5b4b5;
    text-shadow:1.5px 1.5px #000000;
    padding:12px;
}

.portfolio-container .home h2{
    font-size:22px;
    color: #000000;
    text-shadow:0px 0px #000000;
}

.portfolio-container .home h1,
.portfolio-container .home h2{
    margin:0;
    text-align:center;
}

.portfolio-container .home ul li{
    border: 0px solid #b5b4b5;
    border-radius:5px;
    font-weight:600;
    text-shadow: 1px 1px #000000;
    color:white;
}

.portfolio-container .home a{
    text-decoration: none;
    list-style-type: none;
}

.portfolio-container .home ul{
    display:flex;
    flex:1;
    justify-content: center;
}

.portfolio-container .home img{
    border:1px solid #000000;
    box-shadow:1px 1px #000000;
}

.portfolio-container .home .sign {
    float: right;
    border: 1px solid #000000;
    box-shadow:0px 0px 1px 1px #555555;
    border-radius:10px;
    padding: 7px;
    margin: -7px 1px;
    background:#111111;
}

.portfolio-container .home .sign figcaption {
    margin: 0 auto 5px;
    text-align:center;
}

.portfolio-container .home figure:hover{
    background-color: #555555;
}

.contact-container .home .list {
    display:flex;
    float: right;
}

.contact-container .home {
    background:url("./asserts/img/contact-page.jpg") repeat-y;
    background-size: 100% 100%;
    height:800px;
    width:auto;
}

.contact-container .home ul{
    margin:30px;
}

.contact-container .home ul li img {
    margin-right: 5px;
}

.contact-container .home ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b4b5;
    box-shadow:1px 1px #000000;
    border: 1px solid #000000;
    border-radius:5px;
    font-weight:600;
    text-shadow: 0px 0px #000000;
    padding:7px 25px;
    margin-right:100px;
    margin-bottom: 15px;
    color:#000000;

}

.contact-container .home a{
    text-decoration: none;
    list-style-type:none;
}

.contact-container .home h1{
    margin-top:0;
    color:#b5b4b5;
    padding-top:100px;
}

.contact-container .home h2{
    color:#b5b4b5;
    margin-top:-20px;
}

.contact-container .home h1,
.contact-container .home h2{
    padding-left:30px;
    text-shadow:1px 1px #555555;
}

.contact-container .home ul li:hover{
    background-color: white;
}

.footer {
    position: relative;
    padding: 40px;
    background: #1D2122;
}

.footer ul li{
    color: dodgerblue;
    display:inline;
    font-size:25px;
}

.footer a{
    text-decoration: none;
    list-style-type: none;
}

.footer p{
    color:white;
    padding-left:39px;
}
.footer img{
    padding-right:30px;
    margin-top:0;
    width:80px;
    height:80px;
}

@media(max-width:1002px){
    .about-container .home img{
        left: 20px;
        display:none;
    }
}

.footer ul li:hover{
    color: white;
}
